#element.style {
background-image: url(http://s12.postimage.org/no7ez30rh/lurch.gif);
background-repeat: no-repeat;
background-position: bottom left;
}


#main-table {
  background-image: url(http://s12.postimage.org/e6nqt4vx9/lurch2.gif) !important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#top-panel {
  background: none; }
  #top-panel td#login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
  #top-panel td > a {
    background: url("http://postimage.org/image/mfqcaian5/yourang.png") 0 0 no-repeat;
    display: block;
    width: 130px;
    height: 40px;
    margin: 10px 0 10px 10px; }
    #top-panel td > a img {
      display: none; }
