element.style {
background-image: url(http://s12.postimage.org/no7ez30rh/lurch.gif);
background-repeat: no-repeat;
background-position: bottom left;
}


#main-table {
  background-image: url(http://s12.postimage.org/no7ez30rh/lurch.gif);
}
